<img src="{{book.imgUrl}}">
<h1>title: {{upper-case book.title}}</h1>
<p>author: {{book.author.fullName}}</p>
<p>price: ${{book.price}}.00</p>

<button {{action 'deleteBook' book on='click'}}>delete book</button>