<h1>Book Detail</h1>
<img src="{{model.musicBook.imgUrl}}">
<form {{action 'save' model.musicBook on='submit'}}>
	<p>title: {{input type="text" value=model.musicBook.title}}</p>
	<p>price: {{input type="number" value=model.musicBook.price}}</p>

	{{!-- Cambiar el author omg --}}
	<p>
		autor: {{model.musicBook.author.fullName}}
		<button {{action 'showAuthors' on='click'}}>Cambiar de autor</button>
	</p>
	
	{{#if isChangingAuthor}}
		<p>Selecciona un autor</p>
		{{#each model.authors as |author|}}
			<p>
				<a href="#" {{action 'selectAuthor' author on='click'}}>{{author.fullName}}</a>
			</p>	
		{{/each}}
	{{/if}}

	<button type="submit" disabled="{{if model.musicBook.isSaving 'true' ''}}">Save</button>
	
</form>